@font-face {
  font-family: charter;
  src: url(../fonts/charter-regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url(../fonts/charter-italic.otf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url(../fonts/charter-bold.otf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url(../fonts/charter-bold-italic.otf);
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 18px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

body {
  color: var(--gray30);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  color: var(--gray30);
}

header {
  font-size: 14px;
  color: var(--gray10);
}
header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray30);
}
nav details summary {
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin-top: 64px;
  margin-bottom: 16px;
}

h1 + p {
  margin-bottom: 64px;
}

hr {
  color: var(--gray10);
  margin: 64px 0;
}

h2 {
  font-size: 2em;
  margin: 64px 0 40px;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
}

pre {
  background: #fec62e;
  padding: 40px;
  font-family: "Roboto";
  line-height: 24px;
}

blockquote {
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  border-left: 4px solid var(--gray30);
  line-height: 24px;
}

blockquote span {
  color: var(--gray10);
}

blockquote span::before {
  content: "-";
}
.hero {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url(../images/patron.png);
  height: 350px;
}
.section-content {
  margin-top: 164px;
}
.section-content:first-of-type {
  margin: 0;
}
.section-content ol li {
  line-height: 24px;
}
.section-content ul li {
  margin-bottom: 16px;
}
.section-content + hr {
  display: none;
}
.section-content img {
  margin-top: 40px;
}
.section-content {
  counter-reset: titlelist;
}
.section-content h3 {
  counter-increment: titlelist;
  padding-bottom: 4px;
}
.section-content h3::before {
  content: counter(titlelist, decimal) ". ";
}

.section-content h3::after {
  content: "";
  width: 32px;
  height: 4px;
  background: var(--gray30);
  display: block;
  margin-left: 10px;
}
